@model ProductIndexModel;

<div class="container w-100">
	<div class="row">
		@foreach (var product in Model.Products)
		{
		<div class="col-4 card">
			<img src="~/images/bikes/bike1.jpg" class="card-img-top" />
			<div class="card-body">
				<a asp-controller="Products" asp-action="Detail" asp-route-id="@product.Id">
					<div class="text-center bg-success btn btn-block">
						[Add To Cart]
					</div>
				</a>
				<div class="text-center m-0">
					<p class="m-0">@product.Name</p>
					<h2>$@product.Price</h2>
				</div>
			</div>
		</div>
		}
	</div>
</div>